.group-tag {
	@include tag($group-bg, $group-label-color);
}

.group-tag-btn {
	@include tag-btn($group-bg, $group-label-color);
}

.group-tools {
	padding: 10px 0;
}

.group-tool-dialog {
	padding: 10px;

	&.add {
		background-color: rgba($brand-success, 0.35);
	}

	&.danger {
		background-color: rgba($brand-danger, 0.2);
	}
}

.group-tool-dialog > .btn {
	margin-top: 10px;
	width: 100%;
}
