<template name="statsPage">
	<div class="container-fluid">
		{{#unless isAdmin}}
			<h1>PLZ login as admin!</h1>
		{{else}}
			{{#if regionStats}}
				<h1>
					{{#if regionName}}
						{{mf 'region.list.titleForRegion' 'Overview {REGION}' REGION=regionName}}
					{{else}}
						{{mf 'region.list.title' 'Regions'}}
					{{/if}}
				</h1>
				<div>
					<select class="js-stats-region-selector">
						<option value="all" {{selectedRegion}}>All regions</option>
						{{#each region in regions}}
							<option value="{{region._id}}" {{selectedRegion region._id}}>
								{{region.name}}
							</option>
						{{/each}}
					</select>
				</div>
				<div class="stats-wrap">
					<h2>{{mf 'regions.stats.header' 'group statistics'}}</h2>
					<table class="stats">
						<thead>
							<tr>
								<th>{{mf 'region.stats.group' 'group'}}</th>
								<th colspan="2">{{mf 'region.stats.courses' 'courses'}}</th>
								<th colspan="2">{{mf 'region.stats.events' 'events'}}</th>
								<th>{{mf 'region.stats.usersParticipating' 'users participating'}}
								</th>
							</tr>
							<tr>
								<th>&nbsp;</th>
								<th>{{mf 'region.stats.courses.total' 'total'}}</th>
								<th>{{mf 'region.stats.courses.active' 'active'}}</th>
								<th>{{mf 'region.stats.events.passed' 'passed'}}</th>
								<th>{{mf 'region.stats.events.future' 'future'}}</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr class="js-stats-row">
								<td>{{mf 'region.stats.total' 'total'}}</td>
								<td class="number"
									title="some users participate in multiple events">
									{{regionStats.total.numCourses}}
								</td>
								<td class="number">{{regionStats.total.activeCourses}}</td>
								<td class="number">{{regionStats.total.passedEvents}}</td>
								<td class="number">{{regionStats.total.futureEvents}}</td>
								<td class="number">{{regionStats.total.usersParticipating}}</td>
							</tr>
							{{#each detail in regionStats.detail}}
								<tr class="js-stats-row">
									<td>
										{{#if detail.group}}
											{{ detail.groupName }}
										{{else}}
											{{mf 'region.stats.ungrouped' "Ungrouped"}}
										{{/if}}
									</td>
									<td class="number">{{detail.numCourses}}</td>
									<td class="number">{{detail.activeCourses}}</td>
									<td class="number">{{detail.passedEvents}}</td>
									<td class="number">{{detail.futureEvents}}</td>
									<td class="number">{{detail.usersParticipating}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			{{else}}
				{{> loadingPage }}
			{{/if}}
		{{/unless}}
	</div>
</template>
