<template name="coursehistory">
	<div class="timeline-pre">
		<div class="timeline-start-container">
			<div class="timeline-start"></div>
		</div>
		<div class="timeline-header"></div>
	</div>

	{{#each pastEventsList}}
		<div class="timeline">
			<div class="timeline-eventdate" title="{{dateLong dateTime}}">
				{{fromNow dateTime}}
			</div>
			<div class="timeline-eventline-container">
				<div class="timeline-eventline"></div>
				<div class="timeline-eventpoint"></div>
			</div>
		</div>
		<div class="coursehistory-event">
			{{> Template.dynamic template=this.template data=this.data}}
		</div>
	{{/each}}

	<div class="timeline-post">
		<div class="timeline-end-container">
			<div class="timeline-end"></div>
		</div>
		<div class="timeline-footer"></div>
	</div>
</template>

<template name="eventHeldHistoryEntry">
	<span class="fa fa-calendar-o fa-fw" aria-hidden="true"></span>
	<a href="{{pathFor 'showEvent'}}">
		{{this.title}}
	</a>
</template>

<template name="userSubscribedHistoryEntry">
	<i class="{{roleIcon role}} fa-fw" aria-hidden="true"></i>
	{{> profileLink user}}
	{{contribution user}}
	{{mf 'course.history.userSubscribed' 'joined as {ROLE}' ROLE=(roleShort role)}}
</template>

<template name="userUnsubscribedHistoryEntry">
	<i class="{{roleIcon role}} fa-fw" aria-hidden="true"></i>
	{{> profileLink user}}
	{{contribution user}}
	{{mf 'course.history.userUnsubscribed' 'retract {ROLE}' ROLE=(roleShort role)}}
</template>

<template name="eventInsertedHistoryEntry">
	<span class="fa fa-calendar-o fa-fw" aria-hidden="true"></span>
	<a href="{{pathFor 'showEvent'}}">
		{{weekdayFormat startLocal}}
		{{calendarDayShort startLocal}}
		{{this.title}}
	</a>
	{{mf 'course.history.eventInserted' 'created by'}}
	{{> profileLink createdBy}}
	{{contribution createdBy}}
</template>

<template name="eventUpdatedHistoryEntry">
	<span class="fa fa-calendar-o fa-fw" aria-hidden="true"></span>
	<a href="{{pathFor 'showEvent'}}">
		{{weekdayFormat startLocal}}
		{{calendarDayShort startLocal}}
		{{this.title}}
	</a>
	{{#if replicasUpdated}}
		{{mf 'course.history.eventAndRepeatsUpdated' 'and repeats updated by'}}
	{{else}}
		{{mf 'course.history.eventUpdated' 'updated by'}}
	{{/if}}
	{{> profileLink updatedBy}}
	{{contribution updatedBy}}
</template>

<template name="eventRemovedHistoryEntry">
	<span class="fa fa-calendar-o fa-fw" aria-hidden="true"></span>
	{{weekdayFormat startLocal}}
	{{calendarDayShort startLocal}}
	{{this.title}}
	{{mf 'course.history.eventRemoved' 'removed by'}}
	{{> profileLink removedBy}}
	{{contribution removedBy}}
</template>

<template name="updatedHistoryEntry">
	{{mf 'course.history.updated' 'Course updated by'}}
	{{> profileLink updatedBy}}
	{{contribution updatedBy}}
</template>

<template name="createdHistoryEntry">
	{{mf 'course.history.created_by' 'Course created by'}}
	{{> profileLink createdby}}
	{{contribution createdby}}
</template>
