<template name="loadingPage">
	<div class="loading-page">
		<h1>
			<span class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"
				  title="{{mf 'loading.loading'}}">
			</span>
			{{mf 'loading.loading' 'Loading...'}}
		</h1>
	</div>
</template>

<template name="loadingRow">
	<div class="loading-row">
		<h1>
			<span class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"
				  title="{{mf 'loading.loading'}}">
			</span>
			<span class="sr-only">{{mf 'loading.loading'}}</span>
			{{mf 'loading.loading'}}
		</h1>
	</div>
</template>
