// *** Calendar ***
//=================

// ** Navigation container
//========================================================================================
.calendar-nav-container {
	@include td-make-xs-column(12);
	background-color: rgba($calendar-nav-bg, 0.97);
	display: none;
	margin-bottom: 10px;
	padding: 0 10px;
	position: fixed;
	text-align: center;
	top: $navbar-height;
	transition: box-shadow $default-transition-time;
	width: 100%;
	z-index: 1010;
}

.calendar-nav-container-covering {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

// ** Navigation
//========================================================================================
.calendar-nav {
	display: table;
	margin: 0 auto;
	padding: 5px 0;
}

// ** Navigation elements
//========================================================================================
.calendar-nav-control,
.calendar-nav-moment {
	display: table-cell;
	vertical-align: middle;
}

.calendar-nav > .calendar-nav-control:last-child .dropdown-menu {
	@include td-pos(left, auto);
	@include td-pos(right, 0);
}

.calendar-nav-moment {
	padding: 0 20px;
}

// ** Navigation week & date
//========================================================================================
.calendar-nav-week,
.calendar-nav-date {
	display: table-row;
}

.calendar-nav-week {
	font-size: large;
}

.calendar-nav-date {
	font-size: small;
}

// ** Container
//========================================================================================
.calendar-container {
	padding-top: 50px;
}

.calendar-container > .btn:first-child {
	margin-bottom: 15px;
}

// ** Date
//========================================================================================
.calendar-date {
	@include td-padding-all(5px, 7px, 5px, 9px);
	background: $blue-lighter;
	border-color: $blue;
	border-style: solid;
	border-width: 10px 0 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	font-size: large;
	text-align: center;

	@media (min-width: $screen-xxs) {
		border-width: 0 0 0 10px;
		width: 250px;
	}
}

// ** Event list
//========================================================================================
.calendar-event-list {
	@include clearfix;
	margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 2) * -1);
	padding: 10px 0;
	position: relative;

	@media (min-width: $screen-xsm) {
		margin: (($grid-gutter-width / 4) * -1) (($grid-gutter-width / 8) * -1);
	}
}
