<template name="regionSplash">
	<div class="js-region-splash modal regions-splash" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						{{#mf KEY='regionsSplash.welcome' SITE=siteName}}
							Welcome to {SITE}!
						{{/mf}}
					</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h4 class="regions-splash-header">
						<i class="fa fa-dot-circle-o fa-fw" aria-hidden="true"></i>
						{{mf 'regionsSplash.plsChooseRegion' 'Please choose a region'}}
					</h4>
					<div class="regions-splash-selection">
						{{> regionSelection isSplash=true}}
						<button class="js-confirm-region btn btn-primary" type="button">
							{{mf 'regionSplash.ok' 'Go!'}}
						</button>
					</div>
					<div class="regions-splash-login">
						<button class="js-login-for-region btn btn-link" type="button">
							{{mf 'regionsSplash.login' 'Log in to use your last selected region'}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
