<template name="frameCalendar">
	<style type="text/css">
		/* beautify ignore:start */
		{{#each cssRule in cssRules}}
			{{cssRule}}
		{{/each}}
		/* beautify ignore:end */

	</style>
	{{#if pageReady}}
		{{#if days}}
			{{#each day in days}}
				<h4 class="frame-list-title">{{day}}</h4>
				{{#each event in (eventsOn day)}}
					{{> frameCalendarEvent event}}
				{{/each}}
			{{/each}}
			{{#unless ready}}
				{{> loadingRow}}
			{{/unless}}
			{{#if moreEvents}}
				<div class="show-more">
					<button class="btn btn-secondary js-show-more-events" type="button">
						{{mf 'frame.calendar.showMoreEvents' 'Show more events'}}
					</button>
				</div>
			{{/if}}
		{{else}}
			<h2 class="mt-5 text-center">{{mf 'frame.calendar.noEvents' 'No events planned'}}</h2>
		{{/if}}
	{{else}}
		{{> loadingPage}}
	{{/if}}
</template>

<template name="frameCalendarEvent">
	<div class="frame-list-item">
		<h4 class="frame-list-item-header js-toggle-event-details">
			<span class="frame-list-item-toggle-indicator">
				<i class="fa fa-angle-down"></i>
			</span>
			<span class="frame-list-item-time">
				{{timeFormat start}}
			</span>
			{{title}}
			{{#if allRegions}}
				<span class="badge bg-secondary frame-list-item-region">{{regionName}}</span>
			{{/if}}
		</h4>
		{{#if expanded}}
			<div class="frame-list-item-body">
				<div class="frame-list-item-property">
					<div class="frame-list-item-label">
						{{mf 'frame.eventsList.when' 'When:'}}
					</div>
					<div class="frame-list-item-content">
						{{timeFormat start}} - {{timeFormat end}}
					</div>
				</div>
				<div class="frame-list-item-property">
					<div class="frame-list-item-label">
						{{mf 'frame.eventsList.where' 'Where:'}}
					</div>
					<div class="frame-list-item-content">
						{{#if venue._id}}
							<a href="{{pathFor 'venueDetails' _id=venue._id}}" target="_blank">
								{{venue.name}}
							</a>
						{{else}}
							{{venue.name}}
						{{/if}}
						{{#if room}}
							- {{room}}
						{{/if}}
					</div>
				</div>
				<div class="frame-list-item-property frame-list-item-description">
					<div class="frame-list-item-label">
						{{mf 'frame.eventsList.description' 'Description:'}}
					</div>
					<div class="frame-list-item-content">
						{{{description}}}
					</div>
				</div>
				<div class="frame-list-item-links">
					<a class="btn" href="{{pathFor 'showEvent'}}" target="_blank">
						{{mf 'frame.calendar.moreAboutThisEvent' 'More about this event on {SITENAME}' SITENAME=siteName}}
					</a>
					<a href="{{pathFor 'calEvent' this}}"
					   class="btn js-download js-track-cal-download">
						{{mf 'frame.calendar.download' 'Download'}}
					</a>
				</div>
			</div>
		{{/if}}
	</div>
</template>
