.event .event-edit-header {
	margin-top: 0;
}

.event-edit-header {
	@media (min-width: $screen-xs) {
		border-color: $event-header-bg;
		border-style: solid;
	}
}

.event-edit-body {
	@media (min-width: $screen-xs) {
		border-color: $event-body-bg;
		border-style: solid;
	}
}

.changed-replicas {
	opacity: 0.4;
	transition: opacity 0.15s;

	&.is-emphasized {
		opacity: 1;
	}
}

.changed-replicas ul {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.update-changed-replicas-help + ul {
	margin-top: 10px;
}
