<template name="sharing">
	<div class="shariff-wrapper">
		<p>{{mf 'sharing.title' 'Share this course with your friends'}}</p>
		<div class="shariff"
			 data-mail-body="{{mf 'sharing.mailbody.quote' 'look what I found, are you interested?'}} {url}">
		</div>
	</div>
</template>
