<template name="verifyEmail">
	{{#if state 'sending'}}
		<div class="alert alert-success" role="alert">
			<strong>{{mf 'profile.verifyEmail.mailOnItsWay' "Verification mail on its way!"}}</strong><br>
			{{mf 'profile.sendingVerificationMail' "We're sending a verification mail to your address, it should arrive shortly. Please click the link in that message."}}
		</div>
	{{else}}
		<button type="button" class="btn btn-secondary js-verify-mail-btn">
			<span class="fa fa-send fa-fw" aria-hidden="true"></span>
			{{mf 'profile.verifymail' 'Resend verification mail'}}
		</button>
	{{/if}}
</template>
