<template name="pricePolicy">
	{{#if dismissable}}
		{{#unless hidePricePolicy}}
			{{> pricePolicyContent}}
		{{/unless}}
	{{else}}
		{{> pricePolicyContent}}
	{{/if}}
</template>

<template name="pricePolicyContent">
	{{#if pricePolicyEnabled}}
		<div class="price-policy {{cssClasses}}">
			<div class="price-policy-content">
				<div class="price-policy-infos">
					<div class="icon-text">
						<div class="icon-text-icon">
							<i class="fa fa-info fa-fw" aria-hidden="true"></i>
						</div>
						<div class="icon-text-text">
							{{mf 'pricePolicy.disclaimer' "Education should be open to everyone, that's why {SITENAME} only allows suggested/orientation prices." SITENAME=siteName}}
						</div>
					</div>
				</div>
				<div class="price-policy-actions">
					<div class="price-policy-action">
						<a href="{{pricePolicyLink}}">
							<div class="icon-text">
								<div class="icon-text-icon">
									<i class="fa fa-fw fa-book" aria-hidden="true"></i>
								</div>
								<div class="icon-text-text">
									{{mf 'pricePolicy.moreAboutPricePolicy' 'Read our price policy'}}
								</div>
							</div>
						</a>
					</div>
					{{#if dismissable}}
						<div class="price-policy-action">
							<a class="js-hide-price-policy" href="#">
								<div class="icon-text">
									<div class="icon-text-icon">
										<i class="fa fa-fw fa-ban" aria-hidden="true"></i>
									</div>
									<div class="icon-text-text">
										{{mf 'pricePolicy.dontShowAnymore' "Don't show this anymore"}}
									</div>
								</div>
							</a>
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	{{/if}}
</template>
