<template name="tenantCreatePage">
	<div class="container mw-md">
		<div class="edit-page region-edit">
			<h2>{{mf 'tenant.create.title' 'Create your private region'}}</h2>
			<form>
				<div class="mb-3">
					<label
						   class="form-label">{{mf 'tenant.edit.name' 'Name of your organisation:'}}</label>
					<input type="text" class="form-control js-tenant-name"
						   placeholder="{{mf 'tenant.edit.namePlaceholder' 'Full name of your organisation'}}">
				</div>
				{{> regionEditFields region=region locationTracker=locationTracker}}

				<div class="form-actions">
					{{> buttonSave saving=saving}}
					{{> buttonCancel event="js-edit-cancel"}}
				</div>
			</form>
		</div>
	</div>
</template>
