.badge-courses {
	background-color: $brand-primary;
}

.badge-events {
	$background-color: $green;

	background-color: $background-color;
	color: desaturate(darken($background-color, 40%), 50%);
}

.region-selection .dropdown-menu {
	@media (max-width: $grid-float-breakpoint) {
		background: none;
		border: 0;
		box-shadow: none;
		margin-left: 0 !important;
		margin-right: 0 !important;
		position: initial;
	}
}

.region-link-private {
	background-color: #c2c3;
}
