<template name="regionSelectionWrap">
	{{#if Template.subscriptionsReady}}
		{{#if state 'searchingRegions'}}
			{{> regionSelection inNavbar=inNavbar}}
		{{else}}
			{{> regionSelectionDisplay inNavbar=inNavbar}}
		{{/if}}
	{{/if}}
</template>

<template name="regionSelection">
	<li class="region-selection {{inNavbarClasses}}">
		<form class="d-flex js-region-search-form" tabindex="0">
			<div class="input-group input-group-sm input-group-outline p-2">
				<span class="input-group-text"><span class="fa fa-dot-circle-o fa-fw"
						  aria-hidden="true"></span></span>
				<input class="form-control js-region-search" type="text"
					   value="{{#if currentRegionName}}{{currentRegionName}}{{else}}{{mf 'menue.All regions' 'All regions'}}{{/if}}">
				<input class="d-none" type="submit">
				<button class="btn dropdown-toggle" data-bs-toggle="dropdown" role="button"
						aria-expanded="false" tabindex="-1"></button>
				<ul class="dropdown-menu dropdown-menu-end mx-2" role="menu">
					<li class="dropdown-header dropdown-legend">
						<div class="dropdown-addon-right">
							<span class="badge bg-primary rounded-pill"
								  title="{{mf 'regionSelection.legend.numCoursesTitle' 'Number of courses'}}">
								# <i class="fa fa-circle"></i>
							</span>
							<span class="badge bg-success text-dark rounded-pill"
								  title="{{mf 'regionSelection.legend.numEventsTitle' 'Number of upcoming events'}}">
								# <i class="fa fa-calendar"></i>
							</span>
						</div>
						{{mf 'regionSelection.legend.region' 'Region'}}
					</li>
					<li>
						<a href="#" class="dropdown-item js-region-link js-nav-dropdown-close"
						   title="{{mf 'menue.All regions'}}">
							<div class="dropdown-addon-right">
								<span class="badge bg-primary rounded-pill"
									  title="{{mf 'regions.allCourses.title' '{COUNT, plural, =0 {no courses} one {one course} other {# courses}} on {SITENAME}' COUNT=allCourses SITENAME=siteName}}">
									{{allCourses}}
								</span>
								<span class="badge bg-success text-dark rounded-pill"
									  title="{{mf 'regions.allUpcomingEvents.title' '{COUNT, plural, =0 {no upcoming events} one {one upcoming event} other {# upcoming events}} on {SITENAME}' COUNT=allUpcomingEvents SITENAME=siteName}}">
									{{allUpcomingEvents}}
								</span>
							</div>
							{{#if isCurrentRegion 'all'}}
								<span class="checkmark fa fa-check"></span>
							{{/if}}
							{{mf 'menue.All regions' 'All regions'}}
						</a>
					</li>
					{{#if state 'showAllRegions'}}
						{{#each region in allRegions}}
							{{> regionSelectionItem region}}
						{{/each}}
						{{#if aboutLink}}
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<a class="dropdown-item" href="{{aboutLink}}">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
									{{mf 'regionSelection.aboutLink' 'About regions'}}
								</a>
							</li>
						{{/if}}
					{{else}}
						{{#each region in mostActiveRegions}}
							{{> regionSelectionItem region}}
						{{/each}}
						{{#if hasMoreRegions}}
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<button class="btn btn-link js-show-all-regions" type="button">
									{{mf 'regionSelection.showAll' 'Show all regions'}}
								</button>
							</li>
						{{/if}}
					{{/if}}
				</ul>
			</div>
		</form>
	</li>
</template>

<template name="regionSelectionItem">
	<li class={{private}}>
		<a href="#" class="dropdown-item js-region-link js-nav-dropdown-close" title="{{nameEn}}">
			<div class="dropdown-addon-right">
				<span class="badge bg-primary rounded-pill"
					  title="{{mf 'regions.courses.title' '{COUNT, plural, =0 {no courses} one {one course} other {# courses in}} in {REGION}' COUNT=courseCount REGION=this.name}}">
					{{courseCount}}
				</span>
				<span class="badge bg-success text-dark rounded-pill"
					  title="{{mf 'regions.eventCount.title' '{COUNT, plural, =0 {no upcoming events} one {one upcoming event} other {# upcoming events}} in {REGION}' COUNT=futureEventCount REGION=this.name}}">
					{{futureEventCount}}
				</span>
			</div>
			{{#if isCurrentRegion _id}}
				<span class="checkmark fa fa-check"></span>
			{{/if}}
			{{regionNameMarked}}
		</a>
	</li>
</template>

<template name="regionSelectionDisplay">
	<li class="{{inNavbarClasses}}">
		<a class="navbar-link js-region-selection-display">
			<span class="fa fa-dot-circle-o fa-fw" aria-hidden="true"></span>
			{{#if currentRegionName}}
				{{currentRegionName}}
			{{else}}
				{{mf 'menue.All regions' 'All regions'}}
			{{/if}}
		</a>
	</li>
</template>
