<template name="adminFeatureGroupPage">
	{{#if featuredGroup}}
		<div class="admin-featured-group">
			<div class="admin-featured-group-body">
				{{#mf KEY='featureGroup.groupIsFeatured' GROUP=featuredGroup.name REGION=currentRegionName}}
					The group "{GROUP}" is featured for the region "{REGION}".
				{{/mf}}
			</div>
			<button type="button" class="btn btn-delete js-unset-featured-group" {{disabledIfBusy}}>
				{{#if busy 'deleting'}}
					<i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
					{{mf '_button.deleting'}}
				{{else}}
					{{#mf KEY='featureGroup.deleteButton' REGION=currentRegionName}}
						Remove the featured group for "{REGION}"
					{{/mf}}
				{{/if}}
			</button>
		</div>
	{{/if}}
	<h3>{{mf 'featureGroup.featureGroup' 'Feature group'}}</h3>
	<form class="js-feature-group">
		<div class="mb-3">
			<select id="groupToBeFeatured" class="form-select">
				<option value='' disabled selected class="select-placeholder">
					{{mf '_selection.pleaseSelect'}}
				</option>
				{{#each group in groups}}
					<option value="{{group._id}}">{{group.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-save" {{disabledIfBusy}}>
				{{#if busy 'saving'}}
					<i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
					{{mf '_button.saving'}}
				{{else}}
					{{#mf KEY='featureGroup.saveButton' REGION=currentRegionName}}
						Feature this group in the region "{REGION}"
					{{/mf}}
				{{/if}}
			</button>
		</div>
	</form>
</template>
