.language-selection .dropdown-menu {
	@media (max-width: $grid-float-breakpoint) {
		background: none;
		border: 0;
		box-shadow: none;
		margin-left: 0 !important;
		margin-right: 0 !important;
		position: initial;
	}
}
