/* stylelint-disable selector-max-compound-selectors */

.navbar .navbar-nav > .open > .login-dropdown,
.navbar .navbar-nav > .dropdown > .login-dropdown {
	@media (min-width: $screen-sm) {
		min-width: 300px;
	}
}

.user-frame {
	@media (max-width: $grid-float-breakpoint) {
		@include clearfix;
		background-color: $dropdown-bg;
		padding-top: 15px;
	}
}

.ownuser-frame {
	padding: 0 ($grid-gutter-width / 2);
}

.ownuser-frame-welcome {
	font-size: $font-size-h3;
	margin-top: 10px;
	text-align: center;
}

.login {
	padding-top: 10px;
}

.login hr {
	border-top: 1px solid lighten($gray-lighter, 10%);
	margin: 15px 0;
}

.register-mail-disclaimer {
	background-color: rgba($brand-warning, 0.25);
	border: 1px solid $brand-warning;
	border-radius: 4px;
	color: $text-muted;
	display: block;
	margin-top: 7.5px;
	padding: 10px;
}

.forgot-pwd-mail-info {
	display: inline-block;
	margin-top: -10px;
}
