<template name="accountTasks">
	<div class="modal account-tasks js-account-tasks" id="accountTaskModal" tabindex="-1"
		 role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						{{#if activeAccountTask 'login'}}
							{{#if pleaseLogin}}
								<i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
								{{mf 'Please.login' 'Please login or register'}}
							{{else}}
								<i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
								{{mf 'login.login.title' 'Login'}}
							{{/if}}
						{{/if}}
						{{#if activeAccountTask 'register'}}
							<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
							{{mf 'login.register.submit'}}
						{{/if}}
						{{#if activeAccountTask 'recoverPwd'}}
							<i class="fa fa-unlock-alt fa-fw" aria-hidden="true"></i>
							{{mf 'login.recoverPwd.title' 'Recover Password'}}
						{{/if}}
					</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{#if activeAccountTask 'register'}}
						{{> registerFrame}}
					{{else}}
						{{#if activeAccountTask 'recoverPwd'}}
							{{> forgotPwdFrame}}
						{{else}}
							{{> loginFrame}}
						{{/if}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="loginFrame">
	<form>
		<div class="login">
			<div class="mb-3 {{errorClass 'username'}}">
				<div class="input-group">
					<span class="input-group-text">
						<span class="fa fa-user fa-fw" aria-hidden="true"></span>
					</span>
					<input class="form-control js-username"
						   placeholder={{mf 'frame.login.usernameOrEmail' 'Username or Email'}}
						   type="text" />
				</div>
				{{errorMessage 'username'}}
			</div>
			<div class="mb-3 {{errorClass 'password'}}">
				<div class="input-group">
					<span class="input-group-text">
						<span class="fa fa-lock fa-fw" aria-hidden="true"></span>
					</span>
					<input class="form-control js-password"
						   placeholder="{{mf '_inputField.password'}}" type="password" />
				</div>
				{{errorMessage 'password'}}
			</div>
			<div class="mb-3 text-end">
				<button type="button" class="btn btn-link p-0 js-forgot-pwd-btn">
					<span class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></span>
					{{mf 'forgot' "I forgot my password"}}
				</button>
			</div>
			<div class="mb-3">
				<button type="submit" class='btn btn-secondary js-login form-control'
						{{disabledIfBusy}}>
					{{#if busy 'logging-in'}}
						<span class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></span>
						{{mf 'login.login.submit.busy' 'Logging in...'}}
					{{else}}
						{{#if pleaseLogin}}
							{{loginAction}}
						{{else}}
							{{mf 'login.login.submit' 'Login'}}
						{{/if}}
					{{/if}}
				</button>
			</div>
			<hr>
			{{#each service in OAuthServices}}
				<div class="row g-2 align-items-center">
					<div class="col">
						<button class="btn btn-{{service.key}} form-control js-oauth-btn my-2"
								data-service="{{service.serviceName}}" type="button"
								{{disabledIfBusy}}>
							{{#if busy service.serviceName}}
								<span class="fa fa-circle-o-notch fa-spin fa-fw"
									  aria-hidden="true"></span>
								{{mf 'login.OAuth.busy' 'Logging in with '}}
							{{else}}
								<span class="fa fa-{{service.key}} fa-fw" aria-hidden="true"></span>
								{{mf 'login.OAuth.loginWith' 'Login with '}}
							{{/if}}
							{{service.name}}
						</button>
					</div>
					<div class="col-auto">
						<a class="text-muted" data-bs-toggle="collapse" href="#{{service.key}}-info"
						   role="button" aria-expanded="false" aria-controls="{{service.key}}-info">
							<i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="collapse" id="{{service.key}}-info">
					<div class="text-muted">
						{{mf 'login.OAuth.info' '{SITENAME} is getting your user-information (username, email, ...) from that service. They will not have any access to data or information about your activity here except that the fact you logged in.' SITENAME=siteName}}
					</div>
				</div>
			{{/each}}
			<hr>
			<div class="mb-3">
				<button class="btn btn-add form-control js-register-open" type="button">
					{{mf 'login.register.submit' 'Create account'}}
				</button>
			</div>
		</div>
	</form>
</template>

<template name="registerFrame">
	<form>
		<div class="mb-3 {{errorClass 'username'}}">
			<div class="input-group">
				<span class="input-group-text">
					<span class="fa fa-user fa-fw" aria-hidden="true"></span>
				</span>
				<input class="form-control js-username" type="text"
					   placeholder={{mf 'frame.login.username' 'Username'}} />
			</div>
			{{errorMessage 'username'}}
		</div>
		<div class="mb-3 {{errorClass 'password'}}">
			<div class="input-group">
				<span class="input-group-text">
					<span class="fa fa-lock fa-fw" aria-hidden="true"></span>
				</span>
				<input class="form-control js-password" placeholder="{{mf '_inputField.password'}}"
					   type="password" />
			</div>
			{{errorMessage 'password'}}
		</div>
		<div class="mb-3 {{errorClass 'email'}}">
			<div class="input-group">
				<span class="input-group-text">
					<span class="fa fa-envelope fa-fw" aria-hidden="true"></span>
				</span>
				<input class="form-control js-email"
					   placeholder="{{mf 'frame.login.email' 'E-Mail'}}" type="email" />
			</div>
			{{errorMessage 'email'}}
		</div>
		<div class="mb-3">
			<span class="register-mail-disclaimer">
				{{#mf KEY='login.frame.register.mailDisclaimer'}}
					Providing an e-mail address allows other users to contact you and is needed to recover your password in case you forget it.
				{{/mf}}
			</span>
		</div>
		<div class="mb-3">
			<button type="submit" class="btn btn-add form-control js-register" {{disabledIfBusy}}>
				{{#if busy 'registering'}}
					<span class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></span>
					{{mf 'login.register.submit.busy' 'Registering...'}}
				{{else}}
					{{#if pleaseLogin}}
						{{registerAction}}
					{{else}}
						{{mf 'login.register.submit'}}
					{{/if}}
				{{/if}}
			</button>
		</div>
		<hr>
		<div class="mb-3">
			<button class="js-back-to-login btn btn-secondary form-control" type="button">
				{{mf 'login.register.backToLogin' 'Go back to login'}}
			</button>
		</div>
	</form>
</template>

<template name="forgotPwdFrame">
	<form class="js-reset-pw">
		<div class="forgot_login">
			<p>
				{{mf 'forgot.explanation' "We can send you a mail that allows you to reset your password. This is only possible if you've provided us with a mail address"}}
			</p>
			<div class="mb-3">
				<div class="input-group">
					<span class="input-group-text">
						<span class="fa fa-envelope"></span>
					</span>
					<input class="form-control js-reset-pw-email"
						   aria-describedby="forgotPwdMailHelp"
						   placeholder="{{mf 'frame.login.email' 'E-Mail'}}" type="email" />
				</div>
				{{#if noValidEmail}}
					<span id="forgotPwdMailHelp" class="form-text">
						{{mf 'forgot.notValid' "Please enter the address you signed up with."}}
					</span>
				{{/if}}
			</div>
			<div class="mb-3">
				<button class="btn btn-save js-reset-pwd-btn form-control"
						disabled="{{#if noValidEmail}}disabled{{/if}}" type="submit"
						{{disabledIfBusy}}>
					{{#if busy 'requesting-pw-reset'}}
						<span class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></span>
						{{mf 'forgot.send.busy' 'Resetting password...'}}
					{{else}}
						{{mf 'forgot.send' 'Reset my password'}}
					{{/if}}
				</button>
			</div>
			<div class="mb-3">
				<button type="button" class="btn btn-cancel js-reset-pwd-close-btn form-control">
					{{mf '_button.cancel'}}
				</button>
			</div>
		</div>
	</form>
</template>
