<template name="courseMembers">
	<div class="course-page-component-header">
		<h4>
			<span class="fa fa-users fa-fw" aria-hidden="true"></span>&nbsp;
			{{#mf KEY='course.details.members.title' NUM=howManyEnrolled}}
				{NUM, plural, =0 {No co-learners yet} one {1 Co-learner} other {# Co-learners}}
			{{/mf}}
			{{#if canNotifyAll}}
				<i class="fa fa-envelope contact-members js-contact-members"></i>
			{{/if}}
		</h4>
	</div>
	{{#if members}}
		<div class="course-members">
			{{#each sortedMembers}}
				{{> courseMember member=this course=..}}
			{{/each}}
			{{#if limited}}
				<button
					class="btn btn-lg btn-add course-page-btn js-show-more-members"
					type="button">
					{{#mf KEY='course.members.showMoreParticipants'}}
						Show more co-learners
					{{/mf}}
				</button>
			{{/if}}
		</div>
	{{/if}}
</template>


<template name="courseMember">
	<div class="course-member {{ownUserMemberClass}}">
		<div class="clearfix">
			{{> profileLink member.user}}
			{{contribution member.user}}
			{{> participantContact participant=member.user course=course}}
			<div class="course-member-roles">
				{{#if memberRoles.length}}
					{{#each memberRoles}}
						<div class='course-member-role float-end'>
							<span class="course-member-role-text">
								<span class="{{rolelistIcon this}} fa-fw" aria-hidden="true"></span>
								<span class="role-short">{{roleShort this}}</span>
							</span>
							{{#with ..}}
								{{#if mayUnsubscribeFromTeam ..}}
									{{> removeFromTeamDropdown}}
								{{/if}}
							{{/with}}
						</div>
					{{/each}}
				{{/if}}
				{{#if maySubscribeToTeam}}
					<button type="button" class="btn btn-sm btn-add float-end js-add-to-team-btn"
						data-tooltip="{{mf 'course.roles.maketeam' 'Add to team'}}"
						data-tooltip-direction="e">
						<span class="fa fa-plus {{member.user}}"></span>
						<span class="fa fa-bullhorn fa-fw" aria-hidden="true"></span>
					</button>
				{{/if}}
			</div>

		</div>

		{{#if showMemberComment}}
			<div class="course-member-comment">
				<div class="course-member-comment-arrow"></div>
				<div class="course-member-comment-body">
					{{#if editableMessage}}
						{{> editable editableMessage}}
					{{else}}
						{{member.comment}}
					{{/if}}
				</div>
			</div>
		{{/if}}
	</div>
</template>


<template name="removeFromTeamDropdown">
	<span class="dropdown">
		<button type="button" class="btn btn-sm btn-close btn-close-white"
			aria-expanded="false"
			aria-haspopup="true"
			data-bs-toggle="dropdown"
			data-tooltip="{{mf 'course.roles.removeTeam' 'Remove from team'}}"
			data-tooltip-direction="e"></button>
		<ul class="dropdown-menu dialog-dropdown right">
			<li class="dropdown-header">
				{{#if isNotPriviledgedSelf}}
					{{mf 'course.details.removeTeam.self.header' 'Remove yourself from team'}}
				{{else}}
					{{mf 'course.details.removeTeam.others.header' 'Remove member from team'}}
				{{/if}}
				<button type="button" class="btn-close"></button>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>
			<li class="dialog-dropdown-text">
				{{#if isNotPriviledgedSelf}}
					{{mf 'course.detail.remove.yourself.team' 'Remove yourself from the team? Only another member can add you back.'}}
				{{else}}
					{{mf 'course.detail.remove.other.team' 'Do you really want to remove this member from the team?'}}
				{{/if}}
			</li>
			<li class="dialog-dropdown-btn">
				<button type="button" class="btn btn-remove js-remove-team">
					{{mf 'course.group.remove' 'Remove'}}
				</button>
			</li>
		</ul>
	</span>
</template>
