<template name="eventParticipants">
	<div class="event-page-component-header">
		<h4>
			<span class="fa fa-users fa-fw" aria-hidden="true"></span>&nbsp;
			{{#mf KEY='event.details.paticipants.title' NUM=howManyEnrolled}}
				{NUM, plural, =0 {No participants yet} one {1 Participant} other {# Participants}}
			{{/mf}}
		</h4>
	</div>
	{{#if participants}}
		<div class="event-participants">
			{{#each sortedParticipants}}
				{{> eventParticipant participant=this event=..}}
			{{/each}}
			{{#if limited}}
				<button
					class="btn btn-add event-page-btn js-show-more-participants"
					type="button">
					{{#mf KEY='event.participants.showMoreParticipants'}}
						Show more participants
					{{/mf}}
				</button>
			{{/if}}
		</div>
	{{/if}}
</template>


<template name="eventParticipant">
	<div class="event-participant {{ownUserParticipantClass}}">
		{{> profileLink participant}} 
		{{contribution participant}}
		{{> participantContact participant=participant event=event}}
	</div>
</template>
