.back-to-kiosk {
	@include td-pos(right, 50px);
	background-color: $blue-lighter;
	border-radius: 50%;
	bottom: 30px;
	box-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
	height: 100px;
	padding: 30px 20px 0;
	position: fixed;
	text-align: center;
	width: 100px;
	z-index: 1;
}

.back-to-kiosk a {
	color: $gray-dark;

	&:hover {
		color: $white;
	}
}

.js-remove-back-to-kiosk {
	@include opacity(0.4);
	@include td-pos(right, 0);
	background: none;
	border: 0;
	font-size: large;
	position: absolute;
	text-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
	top: 0;

	&:hover {
		@include opacity(1);
		color: $red;
	}
}
