/* stylelint-disable max-nesting-depth, selector-no-qualifying-type */
.info-page {
	h2 {
		color: $brand-primary;
	}

	p + h2,
	ul + h2 {
		margin-top: 30px;
	}

	h3 {
		border-bottom: 1px solid $blue-lighter;
		cursor: pointer;
		font-size: 1.2em;
		padding-bottom: 5px;
		transition: border-color 0.15s;

		&:hover,
		&.active {
			border-color: $brand-primary;
		}
	}

	p,
	ul {
		font-size: 1.05em;
	}

	h2,
	h3 {
		~ p,
		~ ul {
			display: none;
		}
	}
}
