{{#emailBase subject=subject site=site}}
	<tr>
		<td>
			<span class="title">
				{{mf "notification.event.mail.greeting" "Hi {USERNAME}" USERNAME=username LOCALE=locale}}
			</span>
			<p>
				{{#if new}}
					{{mf 'notification.event.mail.new' 'A new event was just published for course "{COURSE}":' COURSE=course.name LOCALE=locale}}
				{{else}}
					{{mf 'notification.event.mail.changed' 'The following event for course "{COURSE}" changed:' COURSE=course.name LOCALE=locale}}
				{{/if}}
				<a href="{{courseLink}}"><i class="fa fa-external-link"></i>
					{{mf 'event.details.viewCourse' 'view course' LOCALE=locale}}</a>
			</p>
			{{#if additionalMessage}}
				<p>
					{{mf "notification.event.mail.personalMessage" 'The Organizer "{USERNAME}" left a message for you:' USERNAME=creatorName LOCALE=locale}}
				</p>
				<table class="comment-box">
					<tr>
						<td>
							{{additionalMessage}}
						</td>
					</tr>
				</table>
			{{else}}
				<p>
					{{mf "notification.event.mail.creationMessage" 'The event has been created by "{USERNAME}".' USERNAME=creatorName LOCALE=locale}}
				</p>
			{{/if}}

			<a
			   href="{{creatorLink}}">{{mf "notification.event.mail.commenterlink" '➜ See profile from {USERNAME}' USERNAME=creatorName LOCALE=locale}}</a>
			<table style="margin: 2em auto; width: 92%;">
				<tr>
					<td bgcolor="#c1f2ae" style="padding: 15px;">
						<div style="float: right;">
							<a href="{{eventLink}}"><i class="fa fa-calendar"></i>
								{{mf 'notification.event.viewEvent' 'view event' LOCALE=locale}}</a>
						</div>
						<a href="{{eventLink}}"
						   style="color: #333 !important; text-decoration: none !important;">
							{{eventDate}}
							<br />
							{{eventStart}}
							{{#if eventEnd}}
								- {{eventEnd}}
							{{/if}}
							{{#if venueLine}}
								<br />
								{{venueLine}}
							{{/if}}
						</a>
					</td>
				</tr>
				<tr>
					<td height="2px" style="font-size: 2px;">
					</td>
				</tr>
				<tr>
					<td bgcolor="#d9eaf2" style="padding: 15px;">
						<p style="font-size: 14px; font-weight: bold;">
							{{event.title}}
						</p>
						<p style="font-weight: bold;">
							{{mf "notification.event.mail.titleDescription" "Description" LOCALE=locale}}
						</p>
						<p>
							{{{event.description}}}
						</p>
					</td>
				</tr>
				<tr>
					<td width="350" style="padding: 5px; text-align:right;">
						<a href="{{calLink}}"
						   style="color: #00f !important; text-decoration: none !important;">
							{{mf "notification.event.mail.linkCalendar" "Add this event to my calendar" LOCALE=locale}}
						</a>
						<br />
					</td>
				</tr>
			</table>
			<p class="gap-md text-center">
				{{mf "notification.event.mail.informRegisterEvent" "Let us know if you participate in this event:" LOCALE=locale}}
			</p>
			<p class="text-center">
				<a class="button" href="{{registerToEventLink}}">
					{{mf "notification.event.mail.registerEvent" "Yes, i take part!" LOCALE=locale}}
				</a>
			</p>
			<p class="gap-md text-center">
				{{mf "notification.event.mail.notinterested" "Not interested anymore?" LOCALE=locale}}
			</p>
			<p class="text-center">
				<a class="button" href="{{unsubscribeFromCourseLink}}">
					{{mf "notification.event.mail.unsubscribe" "Unsubscribe from course." LOCALE=locale}}
				</a>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<table class="footer">
				<tr>
					<td>
						{{mf 'notification.event.mail.notice' 'You receive this mail because you are involved in the course "{COURSE}".' COURSE=course.name LOCALE=locale}}
					</td>
				</tr>
				<tr>
					<td>
						<a
						   href="{{unsubLink}}">{{mf "notification.event.mail.unsubLink" "Unsubscribe from all automated notifications." SITENAME=siteName LOCALE=locale}}</a>
						&nbsp;
						<a
						   href="{{urlFor 'profile' query='campaign=eventNotify'}}">{{mf "notification.event.mail.profileLink" "Visit your profile" LOCALE=locale}}</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/emailBase}}
