{{#emailBase subject=subject site=site}}
	<tr>
		<td>
			<span class="title">
				{{mf "resetPassword.email.gretting" "Hi {NAME}" NAME=username}}
			</span>
			<p>
				{{mf "resetPassword.email.introduction" "You requested to reset your password on {SITE}." SITE=siteName}}
			</p>
			<p class="gap-md">
				{{mf "resetPassword.email.verification" "You can click on this link to reset your password. If you did not request this message, you can safely delete it."}}
			</p>
			<p class="text-center">
				<a class="button" href="{{url}}">
					{{mf "resetPassword.email.passwordResetButton" "Reset password"}}
				</a>
			</p>
			<p>
				{{mf "resetPassword.email.farewell" "Regards"}}<br />
				{{mf "resetPassword.email.postscript" "{SITE} server at your service" SITE=siteName}}
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<table class="footer">
				<tr>
					<td>
						{{mf "resetPassword.email.unexpected" "If you don't know why you got this mail, ignore it or send us a notification to: {REPORTEMAIL}" REPORTEMAIL=reportEmail}}
						<a
						   href="{{urlFor 'profile'}}">{{mf "resetPassword.email.profileLink" "Visit your profile"}}</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/emailBase}}
