{{#emailBase subject=subject site=site}}
	<tr>
		<td>
			<span class="title">
				{{mf "verifyEmail.email.gretting" "Hi {NAME}" NAME=username}}
			</span>
			<p>
				{{mf "verifyEmail.email.introduction" "We're happy that you are part of the {SITE} community." SITE=siteName}}
			</p>
			<p class="gap-md">
				{{mf "verifyEmail.email.verification" "You can click this link to verify your email address. This helps us knowing you're a real person. :)"}}
			</p>
			<p class="text-center">
				<a class="button" href="{{url}}">
					{{mf "verifyEmail.email.verifyButton" "Verify email address"}}
				</a>
			</p>
			<p>
				{{mf "verifyEmail.email.farewell" "Sincerely"}}<br />
				{{mf "verifyEmail.email.postscript" "Your ever so faithful {SITE} living on a virtual chip in a server farm (it's cold here)" SITE=siteName}}
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<table class="footer">
				<tr>
					<td>
						{{mf "verifyEmail.email.unexpected" "If you don't know why you got this mail, ignore it or send us a notification to: {REPORTEMAIL}" REPORTEMAIL=reportEmail}}
						<a
						   href="{{urlFor 'profile'}}">{{mf "verifyEmail.email.profileLink" "Visit your profile"}}</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/emailBase}}
