$tenant-member-bg: rgba($gray-light, 0.15);

.tenant-member-tag-profile {
	@include tag($tenant-member-bg, $text-color, $tenant-member-bg, $brand-primary);
}

.tenant-member-tag-btn-remove {
	@include tag-btn($tenant-member-bg, $text-color, $brand-danger, darken($brand-danger, 30%));
}

.tenant-member-tag-btn-add {
	@include tag-btn(
		darken($tenant-member-bg, 10%),
		$text-color,
		$brand-success,
		darken($brand-success, 45%)
	);
}

$tenant-admin-bg: rgba($red, 0.15);

.tenant-admin-tag-profile {
	@include tag($tenant-admin-bg, $text-color, $tenant-admin-bg, $brand-primary);
}

.tenant-admin-tag-btn-remove {
	@include tag-btn($tenant-admin-bg, $text-color, $brand-danger, darken($brand-danger, 30%));
}

.tenant-admin-tag-btn-add {
	@include tag-btn(
		darken($tenant-admin-bg, 10%),
		$text-color,
		$brand-success,
		darken($brand-success, 45%)
	);
}
